*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f0f0f0;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.cards{
    height: 500px;
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    
}

.cards .city{
    font-size: 36px;
}
.cards .today_T{
    font-size: 24px;
    display: inline ;
}
.cards .today_INF{
    font-size: 24px;
    display: inline ;
}
/*
.city{
    text-align: center;
    font-size: 30px;
}
.cards_inf{

    justify-content: center;
}