*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f0f0f0;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.cards{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.cards .city{
    font-size: 36px;
    margin-bottom: 25px;
}
.cards .today_T{
    font-size: 64px;
    margin-bottom: 25px;
}



.cards .INF_TODAY{
    font-size: 18px;
    display: inline ;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
.cards .today_INF{
    font-size: 24px;
    display: inline ;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 46px;
}
.WT_img img {
    width: 150px; /* 設置圖片的寬度 */
    height: auto; /* 高度自動調整以保持圖片的比例 */
}
